<mat-card class="my-card">
  <div class="d-flex justify-content-center pt-5 pb-5">
    <form role="form" [formGroup]="form" class="form" #formDirective="ngForm">
      <!-- TITLE -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ "add-collection.title" | translate }}</mat-label>
        <input type="text" matInput formControlName="title" />
        <mat-error *ngIf="checkValidation('title')">
          {{ "add-collection.title.error.msg" | translate }}
        </mat-error>
      </mat-form-field>
      <!-- DESC -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ "add-collection.desc" | translate }}</mat-label>
        <textarea matInput matInput formControlName="description"></textarea>
        <mat-hint align="end"
          >{{ form.value.description.length }} /
          {{ descriptionMaxLength }}</mat-hint
        >
        <mat-error *ngIf="checkValidation('description')">
          {{ "add-collection.desc.error.msg" | translate }}
        </mat-error>
      </mat-form-field>
      <!-- END DATE -->
      <mat-form-field
        appearance="outline"
        class="full-width datepicker"
        tabindex="-1"
      >
        <mat-label>{{ "add-collection.end.date" | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="endDate"
          [min]="currentDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          (opened)="this.picker.select(undefined)"
        ></mat-datepicker>
      </mat-form-field>

      <!-- IMAGE -->
      <h5 class="mt-5">{{ "add-collection.photo" | translate }}</h5>
      <p-fileUpload
        name="demo[]"
        url="./upload.php"
        (onRemove)="onRemove($event)"
        (onSelect)="onSelect($event)"
        [multiple]="false"
        accept=".jpg,.png,.jpeg"
        [maxFileSize]="500000"
        [showCancelButton]="false"
        [showUploadButton]="false"
        class="mt-5"
        chooseLabel="{{ 'add-collection.photo' | translate }}"
        invalidFileSizeMessageDetail="{{
          'add-collection.file.max.size' | translate
        }}"
        [files]="images"
      >
      </p-fileUpload>
    </form>
  </div>
</mat-card>
