<p-toast position="top-center" key="tc"></p-toast>
<div class="content min-vw-25">
  <section class="mt-5 w-100">
    <div class="d-flex justify-content-center mt-1 mb-4">
      <p class="fs-4 me-2 pt-2">
        {{ "add-collection.text" | translate }}
      </p>

      <button
        pButton
        pRipple
        type="submit"
        class="btn my-btn-primary btn-lg"
        style="padding-left: 1.5rem; padding-right: 1.5rem"
        (click)="addCollection()"
      >
        {{ "add-collection.create" | translate }}
      </button>
    </div>
    <div class="d-flex justify-content-center mt-1 mb-4">
      <p-messages [(value)]="errorMessage" [enableService]="false"></p-messages>
      <p-confirmDialog
        [style]="{ width: '50vw' }"
        [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-text"
      ></p-confirmDialog>
    </div>

    <div class="container-fluid align-middle">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-arrow-left"
            class="p-button-rounded"
            [disabled]="isLeftDisabled"
            (click)="navigateLeft()"
          ></button>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 justify-content-center">
          <div class="card card-transparent">
            <p-steps
              [model]="items"
              [(activeIndex)]="itemIndex"
              [readonly]="true"
            ></p-steps>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-arrow-right"
            class="p-button-rounded"
            [disabled]="isRightDisabled"
            (click)="navigateRight()"
          ></button>
        </div>
      </div>

      <router-outlet (activate)="routedComponent = $event"></router-outlet>
    </div>
  </section>
  <!-- MESSAGE -->
  <p-toast></p-toast>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
</div>
