<p-table
  [value]="submittedItems"
  [tableStyle]="{ 'min-width': '50rem' }"
  id="itemList"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>{{ "profile.item_title" | translate }}</th>
      <th>{{ "profile.quantity" | translate }}</th>
      <th>{{ "profile.item_submit_date" | translate }}</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-columns="columns">
    <tr ngClass="table-white">
      <td>{{ item.itemName }}</td>
      <td *ngIf="item.itemType.toString() == 'UNLIMITED'">-</td>
      <td *ngIf="item.itemType.toString() != 'UNLIMITED'">
        {{ item.amount }}
        {{
          "suffix." + item.itemType.toString().toLocaleLowerCase() | translate
        }}
      </td>
      <td>{{ item.submitTime | date : "dd/MM/yyyy" }}</td>
      <td>
        <button
          class="btn my-btn-primary btn-sm mt-2 me-2"
          style="padding-left: 2rem; padding-right: 2rem"
          (click)="openCollection(item.collectionId)"
        >
          {{ "panel.open_collection" | translate }}
        </button>
      </td>
      <td>
        <button
          class="btn my-btn-primary btn-sm mt-2 me-2"
          style="padding-left: 2rem; padding-right: 2rem"
          (click)="showLocations(item)"
        >
          {{ "panel.open_locations" | translate }}
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- LOCATIONS SIDEBAR -->
<p-sidebar [(visible)]="display" position="right" styleClass="p-sidebar-sm">
  <h5 class="text-center mb-3">
    {{ "collections.localization" | translate }}
  </h5>
  <p *ngFor="let location of locations">
    {{ location.city }}, {{ location.street }}
  </p>
</p-sidebar>
<!-- PAGINATOR -->
<div class="mt-5 mb-1 paginator">
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    (onPageChange)="changePage($event)"
  ></p-paginator>
</div>
