<div class="content min-vw-25">
  <section class="mt-5 w-100">
    <button
      pButton
      type="button"
      class="p-button-text mb-1 my-button"
      (click)="back()"
    >
      {{ "collection.back_button" | translate }}
    </button>
    <button
      pButton
      type="button"
      class="p-button-text mb-1 my-button"
      routerLink="/collections/{{ collection?.id }}"
    >
      {{ "panel.open_collection" | translate }}
    </button>
    <mat-card class="mb-3">
      <div class="row row-cols-1">
        <mat-card-title>{{ "panel.heading" | translate }}</mat-card-title>
        <mat-card-subtitle>{{ collection?.title }}</mat-card-subtitle>
        <div class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9">
          <mat-card-content>
            <form [formGroup]="form">
              <!-- Title input -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ "panel.title" | translate }}</mat-label>
                <input type="text" matInput formControlName="title" />
                <mat-error *ngIf="checkValidation('title')">
                  {{ "add-collection.title.error.msg" | translate }}
                </mat-error>
              </mat-form-field>
              <!-- Descriptin input -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ "panel.description" | translate }}</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="checkValidation('description')">
                  {{ "add-collection.desc.error.msg" | translate }}
                </mat-error>
              </mat-form-field>
              <!-- END DATE -->
              <mat-form-field
                appearance="outline"
                class="full-width datepicker w-50"
                tabindex="-1"
              >
                <mat-label>{{
                  "add-collection.end.date" | translate
                }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="endDate"
                  [min]="currentDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker
                  (opened)="this.picker.select(undefined)"
                ></mat-datepicker>
              </mat-form-field>
            </form>
          </mat-card-content>
        </div>

        <p-divider></p-divider>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button
              [disabled]="
                checkValidation('title') || checkValidation('description')
              "
              class="btn my-btn-primary btn-lg mt-2"
              style="padding-left: 2rem; padding-right: 2rem"
              (click)="confirm($event)"
            >
              {{ "panel.edit" | translate }}
            </button>
          </div>
          <div class="col d-flex justify-content-center">
            <button
              class="btn my-btn-danger btn-lg mt-2"
              style="padding-left: 2rem; padding-right: 2rem"
            >
              {{ "panel.delete" | translate }}
            </button>
          </div>
        </div>
      </div>
    </mat-card>
    <app-collection-panel-items
      *ngIf="collection"
      [itemsData]="collection.items"
      [collectionId]="collection.id"
    ></app-collection-panel-items>
    <app-collection-panel-locations
      *ngIf="collection"
      [locationsData]="collection.addresses"
      [collectionId]="collection.id"
    ></app-collection-panel-locations>
    <app-collection-panel-comments
      *ngIf="collection"
      [collectionId]="collection.id"
    ></app-collection-panel-comments>
  </section>
  <!-- MESSAGE -->
  <p-toast></p-toast>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
  <!-- CONFIRM POPUP -->
  <p-confirmPopup></p-confirmPopup>
</div>
