<div class="content min-vw-25">
  <section class="mt-2">
    <div
      class="container-fluid align-middle d-flex flex-column bd-highlight mb-3"
      *ngIf="collectionNotFound"
    >
      <div class="p-2 bd-highlight">
        <button
          pButton
          type="button"
          class="p-button-text mb-1 my-button"
          (click)="back()"
        >
          {{ "collection.back_button" | translate }}
        </button>
      </div>
      <div class="p-2 bd-highlight d-flex justify-content-center">
        <img
          src="assets/img/no_content.svg"
          class="img-fluid mb-4"
          alt="No collections"
        />
      </div>
      <div class="p-2 bd-highlight">
        <p class="fs-4 text-center">
          {{ this.collectionNotFoundMessage | translate }}
        </p>
      </div>
    </div>
    <div class="container-fluid align-middle" *ngIf="!collectionNotFound">
      <div class="row mb-3">
        <div
          class="col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-start align-items-center"
        >
          <button
            pButton
            type="button"
            class="p-button-text mb-1 my-button"
            (click)="back()"
          >
            {{ "collection.back_button" | translate }}
          </button>
        </div>
        <div
          class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex align-items-center justify-content-center"
        >
          <h1 class="display-5 text-center">{{ collection?.title }}</h1>
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2"></div>
      </div>

      <div class="row justify-content-center">
        <!-- PHOTO + DESC -->
        <div class="col-11 col-sm-11 col-md-9 col-lg-8 col-xl-8 mb-1">
          <mat-card>
            <img
              mat-card-image
              class="collection-image"
              [src]="getImageFromBase64(collection!.image)"
              *ngIf="collection?.image"
            />
            <img
              mat-card-image
              src="assets/img/no_photo.svg"
              class="collection-image"
              *ngIf="collection?.image == null"
            />
            <mat-card-content>
              <p>
                {{ collection?.description }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- INFO -->
        <div
          class="col-11 col-sm-11 col-md-9 col-lg-4 col-xl-4 justify-content-center"
        >
          <mat-card class="example-card">
            <mat-card-title
              >{{ collection?.userFirstname }}
              {{ collection?.userLastname }}</mat-card-title
            >
            <mat-card-subtitle *ngIf="collection"
              >{{ "collection.create_time" | translate }}
              {{ collection.startTime | date : "dd/MM/yyyy" }}
              <p
                class="card-text"
                *ngIf="
                  collection?.endTime !== null &&
                  getDaysToEnd(collection) >= 0 &&
                  collectionProgress != 100
                "
                [innerHTML]="
                  'collections.end_time'
                    | translate : { num: getDaysToEnd(collection) }
                "
              ></p>
              <p
                class="card-text"
                *ngIf="
                  (collection?.endTime !== null &&
                    getDaysToEnd(collection) < 0) ||
                  collectionProgress == 100
                "
              >
                {{ "collection.ended" | translate }}
              </p>
              <p
                class="card-text"
                *ngIf="
                  (collection.endTime === null && collectionProgress != 100) ||
                  (getDaysToEnd(collection) < 0 && collectionProgress != 100)
                "
              >
                {{ "collections.in_progress" | translate }}
              </p>
            </mat-card-subtitle>
            <mat-card-content>
              <p>{{ "collection.progress" | translate }}</p>
              <div class="row">
                <div class="col-10 pt-2 pe-0">
                  <p-progressBar [value]="collectionProgress"></p-progressBar>
                </div>
                <div class="col-1">
                  <i
                    class="far fa-check-circle fa-lg"
                    [ngClass]="
                      collectionProgress == 100 ? 'icon-check' : 'icon-disabled'
                    "
                  ></i>
                </div>
              </div>
            </mat-card-content>
            <!-- SHARE BLOCK -->
            <mat-card-content class="mt-4">
              <button
                class="btn my-btn-primary btn-lg me-2"
                style="padding-left: 2rem; padding-right: 2rem"
                (click)="display = true"
              >
                {{ "collection.share" | translate }}
              </button>
              <button
                *ngIf="isCollectionOwner"
                class="btn my-btn-secondary btn-sm mt-2"
                style="padding-left: 2rem; padding-right: 2rem"
                routerLink="/collections/{{ collection?.id }}/panel"
              >
                {{ "panel.heading" | translate }}
              </button>
              <p-sidebar
                [(visible)]="display"
                position="right"
                styleClass="p-sidebar-sm"
              >
                <p class="text-center">
                  {{ "collection.share_collection" | translate }}
                </p>
                <share-buttons
                  theme="circles-dark"
                  [include]="[
                    'copy',
                    'facebook',
                    'email',
                    'messenger',
                    'twitter',
                    'whatsapp'
                  ]"
                  [showIcon]="true"
                  [showText]="true"
                  description="Kordi: {{ collection?.title }}"
                  class="pt-2"
                  styleClass="t"
                >
                </share-buttons>
              </p-sidebar>
            </mat-card-content>
            <!-- END SHARE BLOCK -->
            <mat-card-content class="mt-4">
              <i class="fa-solid fa-users icon-color me-2"></i>
              <span
                [innerHTML]="
                  'collection.people_donate' | translate : { num: numOfpeople }
                "
              ></span>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-4">
              <mat-list>
                <div mat-subheader>
                  {{ "collection.last_donates" | translate }}
                </div>
                <p *ngIf="submittedItems.length == 0">
                  {{ "collection.no_last_donates" | translate }}
                </p>
                <mat-list-item
                  *ngFor="let item of submittedItems | slice : 0 : 3"
                >
                  <mat-icon mat-list-icon
                    ><i class="fa-regular fa-circle-user"></i
                  ></mat-icon>
                  <div mat-line>{{ item.username }}</div>
                  <div mat-line>
                    {{ getDonateString(item) }}
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- LOCATIONS -->
      <div class="row justify-content-center mt-3">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header collapsedHeight="80px">
              <mat-panel-title
                ><i class="fa-solid fa-location-dot me-3 icon-color"></i>
                {{ "collection.locations" | translate }}
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- LOCATION LIST -->
            <app-location-list
              [locationsData]="collection?.addresses"
            ></app-location-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- ITEMS -->
      <div class="row justify-content-center mt-3">
        <mat-accordion>
          <mat-expansion-panel hideToggle #itemPanel id="itemPanel">
            <mat-expansion-panel-header collapsedHeight="80px">
              <mat-panel-title
                ><i class="fa-solid fa-list me-3 icon-color"></i
                >{{ "collection.items" | translate }}
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- ITEM LIST -->
            <app-item-list
              *ngIf="collection"
              [itemsData]="collection.items"
              [collectionId]="collection.id"
              [collection]="collection"
            ></app-item-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- COMMENTS -->
      <div class="row justify-content-center mt-3">
        <mat-accordion>
          <mat-expansion-panel hideToggle [disabled]="isUserLoggedIn()">
            <mat-expansion-panel-header collapsedHeight="80px">
              <mat-panel-title
                ><i class="fa fa-comment me-3 icon-color"></i>
                {{ "collection.comments" | translate }}
              </mat-panel-title>
              <mat-panel-description
                class="disabled-description"
                *ngIf="isUserLoggedIn()"
              >
                <button
                  pButton
                  type="button"
                  class="p-button-text pe-2 ps-2"
                  routerLink="/login"
                >
                  {{ "login.login" | translate }}</button
                >{{
                  "collection.comment_disabled" | translate
                }}</mat-panel-description
              >
            </mat-expansion-panel-header>
            <!-- COMMENT LIST -->
            <app-comment-list
              *ngIf="collection"
              [collectionId]="collection.id.toString()"
            ></app-comment-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </section>
  <!-- MESSAGE -->
  <p-toast></p-toast>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
</div>
