section {
    width: 100%;
}

.content {
    max-width: 1100px;
}

.collection-image {
    height: 100%;
}

.disabled-description {
    color: black!important;
}

.icon-disabled {
    color: #E9E8E7;
}

.icon-check {
    color: #4A2799
}

:host ::ng-deep share-button {
    margin-left: 30px;
    margin-top: 15px;
}

.my-button {
    height: 50px;
}