<div class="content min-vw-25">
  <section class="mt-5">
    <div class="container-fluid align-middle">
      <h1 class="display-5 text-center mb-5">{{ collection.title }}</h1>
      <div class="row justify-content-center">
        <!-- PHOTO + DESC -->
        <div class="col-11 col-sm-11 col-md-9 col-lg-8 col-xl-8 mb-1">
          <mat-card>
            <img
              mat-card-image
              class="collection-image"
              [src]="getImageFromBase64(collection.image)"
              *ngIf="collection.image"
            />
            <img
              mat-card-image
              src="assets/img/no_photo.svg"
              class="collection-image"
              *ngIf="collection.image == null"
            />
            <mat-card-content>
              <p>
                {{ collection.description }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- INFO -->
        <div
          class="col-11 col-sm-11 col-md-9 col-lg-4 col-xl-4 justify-content-center"
        >
          <mat-card class="example-card">
            <mat-card-title
              >{{ collection.userFirstname }}
              {{ collection.userLastname }}</mat-card-title
            >
            <mat-card-subtitle
              >{{ "collection.create_time" | translate }}
              {{
                collection.startTime | date : "dd/MM/yyyy"
              }}</mat-card-subtitle
            >
            <mat-card-content>
              <p>{{ "collection.progress" | translate }}</p>
              <p-progressBar [value]="88"></p-progressBar>
            </mat-card-content>
            <mat-card-content class="mt-4">
              <button
                class="btn my-btn-primary btn-lg"
                style="padding-left: 2rem; padding-right: 2rem"
              >
                {{ "collection.share" | translate }}
              </button>
            </mat-card-content>
            <mat-card-content class="mt-4">
              <i class="fa-solid fa-users icon-color me-2"></i>
              <span
                [innerHTML]="
                  'collection.people_donate' | translate : { num: 12 }
                "
              ></span>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-4">
              <mat-list>
                <div mat-subheader>
                  {{ "collection.last_donates" | translate }}
                </div>
                <mat-list-item *ngFor="let id of [1, 2, 3]">
                  <mat-icon mat-list-icon
                    ><i class="fa-regular fa-circle-user"></i
                  ></mat-icon>
                  <div mat-line>Adam</div>
                  <div mat-line>5kg, 3szt</div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- LOCATIONS -->
      <div class="row justify-content-center mt-3">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title
                ><i class="fa-solid fa-location-dot me-3 icon-color"></i>
                {{ "collection.locations" | translate }}
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- LOCATION LIST -->
            <app-location-list
              [locationsData]="collection.addresses"
            ></app-location-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- ITEMS -->
      <div class="row justify-content-center mt-3">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title
                ><i class="fa-solid fa-list me-3 icon-color"></i
                >{{ "collection.items" | translate }}
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- ITEM LIST -->
            <app-item-list [itemsData]="collection.items"></app-item-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- COMMENTS -->
      <div class="row justify-content-center mt-3">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title
                ><i class="fa fa-comment me-3 icon-color"></i>
                {{ "collection.comments" | translate }}
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- COMMENT LIST -->
            <app-comment-list
              [collectionId]="collection.id.toString()"
            ></app-comment-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </section>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
</div>
