<p *ngIf="collections.length === 0" class="ms-4">
  {{ "profile.no_collections" | translate }}
</p>
<p-table
  *ngIf="collections.length > 0"
  [value]="collections"
  [tableStyle]="{ 'min-width': '23rem' }"
  responsiveLayout="stack"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>ID</th>
      <th>{{ "profile.title" | translate }}</th>
      <th>{{ "profile.date" | translate }}</th>
      <th>{{ "profile.end_date" | translate }}</th>
      <th>{{ "profile.status" | translate }}</th>
      <th>{{ "profile.progress" | translate }}</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-collection let-columns="columns">
    <tr ngClass="table-white">
      <td class="cell">{{ collection.id }}</td>
      <td class="cell">{{ collection.title }}</td>
      <td class="cell">{{ collection.startTime | date : "dd/MM/yyyy" }}</td>
      <td *ngIf="collection.endTime" class="cell">
        {{ collection.endTime | date : "dd/MM/yyyy" }}
      </td>
      <td *ngIf="!collection.endTime" class="cell">-</td>
      <td *ngIf="collection.status == status.IN_PROGRESS" class="open cell">
        {{ "profile.open" | translate }}
      </td>
      <td *ngIf="collection.status == status.COMPLETED" class="finished cell">
        {{ "profile.closed" | translate }}
      </td>
      <td *ngIf="collection.status == status.ARCHIVED" class="closed cell">
        {{ "profile.archived" | translate }}
      </td>
      <td class="cell">{{ getProgress(collection) }}%</td>
      <td class="cell" *ngIf="collection.status != status.ARCHIVED">
        <button
          pButton
          type="button"
          class="p-button-text mb-1 my-button p-button-sm"
          (click)="editCollection(collection.id)"
        >
          {{ "profile.collection_panel" | translate }}
        </button>
      </td>
      <td
        class="cell text-center"
        [colSpan]="collection.status != status.ARCHIVED ? 1 : 2"
      >
        <button
          pButton
          type="button"
          class="p-button-text mb-1 my-button p-button-sm"
          routerLink="/collections/{{ collection.id }}/panel/submitted"
        >
          {{ "profile.submitted_items" | translate }}
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
