:host ::ng-deep .table-white {
    background-color: #fff!important;
    text-align: center;
}

.open {
    color: #61ac4a;
}

.finished {
    color: #FF9E00;
}

.closed {
    color: #ED4023;
}

.cell {
    padding: 0.5rem 1rem!important;
}