<!-- SEARCH INPUT -->
<div class="row justify-content-center d-flex align-items-center">
  <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 mt-4">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "collection.search_location" | translate }}</mat-label>
      <input matInput [(ngModel)]="searchLocation" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn my-btn-primary btn-lg"
        style="padding-left: 2rem; padding-right: 2rem"
        (click)="search()"
      >
        {{ "collections.search_button" | translate }}
      </button>
    </div>
  </div>
</div>

<!-- NO LOCATIONS -->
<div *ngIf="locations?.length == 0" class="w-100">
  <div class="d-flex flex-column bd-highlight mb-3 mt-2">
    <div class="p-2 bd-highlight d-flex justify-content-center">
      <img
        src="assets/img/no_location.svg"
        class="img-fluid mb-4 mt-3 w-50"
        alt="No locations"
      />
    </div>
    <div class="p-2 bd-highlight d-flex justify-content-center">
      <p class="fs-4 text-center w-75">
        {{ "collection.no_locations" | translate }}
      </p>
    </div>
  </div>
</div>

<!-- LOCATION LIST -->
<div class="row row-cols-auto d-flex justify-content-center">
  <div *ngFor="let location of locations" class="col">
    <div class="p-2 bd-highlight location d-flex align-items-center">
      <p>{{ location.city }}, {{ location.street }}</p>
      <a
        href="https://www.google.pl/maps/place/{{ location.street }},{{
          location.city
        }}"
        target="_blank"
        ><button
          pButton
          pRipple
          type="button"
          icon="pi pi-map"
          class="p-button-rounded p-button-help p-button-text"
        ></button
      ></a>
    </div>
  </div>
</div>
