<!-- INPUT -->
<span class="p-float-label">
  <textarea class="w-75 ms-4" rows="5" cols="40" pInputTextarea></textarea>
</span>
<!-- SEARCH BUTTON -->
<button
  (click)="addComment()"
  class="btn my-btn-primary btn-lm mt-3 ms-4"
  style="padding-left: 2rem; padding-right: 2rem"
>
  Dodaj komenatrz
</button>
<!-- COMMENT LIST -->
<div *ngFor="let id of [1, 2, 3]" class="card-body p-4">
  <div class="d-flex flex-start">
    <p-avatar
      icon="pi pi-user"
      class="me-2"
      size="large"
      shape="circle"
    ></p-avatar>
    <div>
      <h6 class="fw-bold mb-1">Jan Kowalski</h6>
      <div class="d-flex align-items-center mb-3">
        <p class="mb-0">Grudzień 15, 2022</p>
      </div>
      <p class="mb-0">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure
        Latin words, consectetur, from a Lorem Ipsum passage, and going through
        the cites.
      </p>
    </div>
  </div>
</div>
