img {
    width: 25vw;
    min-width: 250px;
}

mat-card-title {
    font-size: 35px !important;
    text-align: center;
}

mat-card-subtitle {
    font-size: 25px !important;
    text-align: justify;
}

mat-card-content {
    font-size: 18px;
    text-align: justify;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}