<div class="content">
  <section class="mt-5">
    <div class="container-fluid align-middle">
      <!-- CARD -->
      <mat-card class="example-card p-5">
        <mat-card-header class="justify-content-center">
          <mat-card-title>{{ "verify.welcome" | translate }}</mat-card-title>
          <mat-card-subtitle>{{
            "verify.to_be_able" | translate
          }}</mat-card-subtitle>
        </mat-card-header>
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-7 col-lg-5 col-xl-5 d-flex justify-content-center">
            <img
              src="assets/img/phone_verification.svg"
              class="img-fluid mb-4"
              alt="Phone verification"
              *ngIf="verificationType == 'PHONE'"
            />
          </div>
          <div class="col-md-9 col-lg-7 col-xl-7">
            <mat-card-content *ngIf="verificationType == 'PHONE'">
              <p
                [innerHTML]="'verify.info_phone' | translate : { phone: phone }"
              ></p>
            </mat-card-content>
            <mat-card-actions *ngIf="verificationType == 'PHONE'">
              <div class="d-flex justify-content-center">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>{{
                    "verify.activation_code" | translate
                  }}</mat-label>
                  <input type="text" matInput [(ngModel)]="code" />
                </mat-form-field>
                <button
                  type="submit"
                  class="btn my-btn-secondary btn-sm ms-3 mt-1"
                  style="padding-left: 2.5rem; padding-right: 2.5rem"
                  (click)="sendCodeAgain()"
                >
                  {{ "verify.send_again" | translate }}
                </button>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn my-btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem"
                  (click)="verify()"
                >
                  {{ "verify.verify" | translate }}
                </button>
              </div>
            </mat-card-actions>
          </div>
          <p-messages [(value)]="messages" [enableService]="false"></p-messages>
        </div>
      </mat-card>
    </div>
  </section>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
</div>
