<div class="content min-vw-25">
  <section class="mt-5">
    <div class="container-fluid align-middle">
      <!-- ROW TOP PANEL -->
      <div class="row justify-content-center">
        <!-- SEARCH INPUT -->
        <div class="row justify-content-center d-flex align-items-center">
          <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 mt-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{
                "collections.search_input" | translate
              }}</mat-label>
              <input matInput [(ngModel)]="searchTerm" />
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="btn my-btn-primary btn-lg"
                style="padding-left: 2rem; padding-right: 2rem"
                (click)="search()"
              >
                {{ "collections.search_button" | translate }}
              </button>
            </div>
          </div>
        </div>
        <!-- END SEARCH INPUT -->
        <!-- FILTER INPUT -->
        <div
          class="row justify-content-md-center d-flex align-items-center mt-4"
        >
          <!-- FILTER EXPANSION PANEL -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-4 d-flex expansion-top"
          >
            <mat-expansion-panel class="ms-2 my-expansion-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ "collections.filtr_options" | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="d-flex flex-column bd-highlight mb-1">
                <!-- CITY FILTR -->
                <div class="bd-highlight">
                  <mat-form-field
                    class="example-form-field me-3"
                    appearance="outline"
                  >
                    <mat-label>{{ "collections.city" | translate }}</mat-label>
                    <input matInput type="text" [(ngModel)]="searchCity" />
                    <button
                      *ngIf="searchCity"
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="searchCity = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <!-- END CITY FILTR -->
                <!-- STREET FILTR -->
                <div class="bd-highlight">
                  <mat-form-field
                    class="example-form-field me-3"
                    appearance="outline"
                  >
                    <mat-label>{{
                      "collections.street" | translate
                    }}</mat-label>
                    <input matInput type="text" [(ngModel)]="searchStreet" />
                    <button
                      *ngIf="searchStreet"
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="searchStreet = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <!-- END STREET FILTR -->
                <!-- ITEM NAME FILTR -->
                <div class="bd-highlight">
                  <mat-form-field
                    class="example-form-field"
                    appearance="outline"
                  >
                    <mat-label>{{ "collections.item" | translate }}</mat-label>
                    <input matInput type="text" [(ngModel)]="searchItem" />
                    <button
                      *ngIf="searchItem"
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="searchItem = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <!-- END ITEM NAME FILTR -->
                <!-- CATEGORIES CHECKBOXES -->
                <section [formGroup]="categoriesForm">
                  <h5>{{ "collections.choose_category" | translate }}</h5>
                  <div class="row row-cols-auto">
                    <div
                      class="col d-flex justify-content-start"
                      *ngFor="let category of categories"
                    >
                      <p>
                        <mat-checkbox
                          formControlName="{{ category.value }}"
                          color="primary"
                          >{{
                            "category." + category.value | translate
                          }}</mat-checkbox
                        >
                      </p>
                    </div>
                  </div>
                </section>
                <!-- END CATEGORIES CHECKBOXES -->
                <button
                  type="submit"
                  class="btn my-btn-primary btn-lg mt-2"
                  style="padding-left: 2rem; padding-right: 2rem; width: 200px"
                  (click)="search()"
                >
                  {{ "collections.filter" | translate }}
                </button>
              </div>
            </mat-expansion-panel>
          </div>
          <!-- END FILTER EXPANSION PANEL -->

          <!-- SORT EXPANSION PANEL -->
          <div
            class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-4 expansion-top"
          >
            <mat-expansion-panel
              class="ms-2 my-expansion-panel expansion-inherit"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ "collections.sort_options" | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h6>{{ "collections.choose_sort" | translate }}</h6>
              <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="selectedSort"
                optionLabel="label"
                class="mb-5"
                (onChange)="search()"
              ></p-dropdown>
              <div style="height: 200px"></div>
            </mat-expansion-panel>
          </div>
          <!-- END SORT EXPANSION PANEL -->
        </div>
        <!-- END FILTER INPUT -->
      </div>
      <!-- END ROW TOP PANEL -->
      <!-- ROW CONTENT PANEL -->
      <div class="row justify-content-center" id="collectionList">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 row justify-content-center"
        >
          <div *ngIf="collections.length == 0">
            <img
              src="assets/img/no_content.svg"
              class="img-fluid mb-4"
              alt="No collections"
            />
            <p class="fs-4 text-center">
              {{ "collections.not_found" | translate }}
            </p>
          </div>

          <!-- CARD -->
          <div
            class="col d-flex flex-column justify-content-center"
            *ngFor="let collection of collections"
          >
            <div class="card h-100" style="width: 21rem">
              <a class="card-link" (click)="openCollection(collection.id)">
                <div class="card-icon">
                  <img
                    [src]="getImageFromBase64(collection.image)"
                    class="img-fluid collection-image"
                    *ngIf="collection.image"
                  />
                  <img
                    src="assets/img/no_photo.svg"
                    class="img-fluid collection-image"
                    *ngIf="collection.image == null"
                  />
                </div>
                <div class="card-body h-100">
                  <h5 class="card-title word-break">
                    <b>
                      {{ collection.title.substr(0, 30)
                      }}<span *ngIf="collection.title.length > 30">...</span>
                    </b>
                  </h5>
                  <p class="card-text word-break">
                    {{ collection.description.substr(0, 150)
                    }}<span *ngIf="collection.description.length > 150"
                      >...</span
                    >
                  </p>
                </div>
              </a>
              <div class="mt-auto">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <b>{{ "collections.localization" | translate }}</b>
                      </mat-panel-title>
                      <mat-panel-description class="d-flex justify-content-end">
                        {{ "collections.click" | translate }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p
                      *ngFor="
                        let address of collection.addresses;
                        let i = index
                      "
                    >
                      <span *ngIf="i < 3"
                        >{{ address.city }}, {{ address.street }}</span
                      >
                    </p>
                    <p *ngIf="collection.addresses.length > 3">
                      + {{ collection.addresses.length - 3 }}
                      {{ "collections.localization_2" | translate }}
                    </p>
                  </mat-expansion-panel>
                </mat-accordion>
                <div class="card-footer my-card-footer">
                  <p>{{ "collections.progress" | translate }}</p>
                  <div class="row">
                    <div class="col-10 pt-2 pe-0">
                      <mat-progress-bar
                        mode="determinate"
                        [value]="collection.progress"
                        class="mb-3"
                      ></mat-progress-bar>
                    </div>
                    <div class="col-1">
                      <i
                        class="far fa-check-circle fa-lg"
                        [ngClass]="
                          collection.progress == 100
                            ? 'icon-check'
                            : 'icon-disabled'
                        "
                      ></i>
                    </div>
                  </div>

                  <p
                    class="card-text"
                    *ngIf="
                      collection.endTime !== null &&
                      getDaysToEnd(collection) >= 0
                    "
                  >
                    {{
                      "collections.end_time"
                        | translate : { num: getDaysToEnd(collection) }
                    }}
                  </p>
                  <p
                    class="card-text"
                    *ngIf="
                      getDaysToEnd(collection) < 0 || collection.progress == 100
                    "
                  >
                    {{ "collections.completed" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- END CARD -->
        </div>
        <!-- END ROW -->
      </div>
      <!-- END ROW CONTENT PANEL -->
      <!-- PAGINATOR -->
      <div class="mt-5">
        <p-paginator
          [rows]="pageSize"
          [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[5, 10, 15, 20, 25, 30]"
          (onPageChange)="changePage($event)"
        ></p-paginator>
      </div>
      <!-- END PAGINATOR -->
    </div>
    <!-- END CONTAINER -->
  </section>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
</div>
