<div class="content">
  <section class="mt-5">
    <div class="container-fluid align-middle">
      <div class="row justify-content-md-center">
        <div class="col-md-8 col-lg-6 col-xl-6 mb-3">
          <mat-card>
            <mat-card-title>Filtruj</mat-card-title>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Opcje filtrowania</mat-panel-title>
              </mat-expansion-panel-header>
              <p>Warszawa, Miła 20</p>
              <p>Warszawa, Miła 20</p>
            </mat-expansion-panel>
          </mat-card>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-6 mb-3 d-flex align-items-center">
          <!-- <mat-card> -->
          <div class="row justify-content-md-center d-flex align-items-center">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-3">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Szukaj</mat-label>
                <input matInput [(ngModel)]="searchTerm" />
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="d-flex justify-content-md-left">
                <button
                  type="submit"
                  class="btn my-btn-primary btn-lg"
                  style="padding-left: 2rem; padding-right: 2rem"
                >
                  Wyszukaj
                </button>
              </div>
            </div>
          </div>
          <!-- </mat-card> -->
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 row justify-content-md-center"
        >
          <!-- CARD -->
          <div
            class="col d-flex justify-content-center"
            *ngFor="let idx of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]"
          >
            <div class="card h-100" style="width: 20rem">
              <a class="card-link" routerLink="/home">
                <div class="card-icon">
                  <i class="fa-regular fa-image fa-10x card-img-top"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Nazwa zbiórki</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam in libero non diam pharetra posuere vitae eget ...
                  </p>
                </div>
              </a>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Lokalizacje </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end">
                      Kliknij tutaj
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Warszawa, Miła 20</p>
                  <p>Warszawa, Miła 20</p>
                </mat-expansion-panel>
              </mat-accordion>
              <div class="card-footer">
                <p>Postęp zbiórki:</p>
                <mat-progress-bar
                  mode="determinate"
                  value="40"
                ></mat-progress-bar>
              </div>
            </div>
          </div>
          <!-- END CARD -->
        </div>
        <!-- END ROW -->
      </div>
      <div class="d-flex justify-content-end">
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
          class="mt-5 paginator"
        >
        </mat-paginator>
      </div>
    </div>
    <!-- END CONTAINER -->
  </section>
</div>
