<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ "collections.filtr_options" | translate }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="d-flex flex-column bd-highlight mb-1">
    <!-- CITY FILTR -->
    <div class="bd-highlight">
      <mat-form-field class="example-form-field me-3" appearance="outline">
        <mat-label>{{ "collections.city" | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="searchCity" />
        <button
          *ngIf="searchCity"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchCity = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- END CITY FILTR -->
    <!-- STREET FILTR -->
    <div class="bd-highlight">
      <mat-form-field class="example-form-field me-3" appearance="outline">
        <mat-label>{{ "collections.street" | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="searchStreet" />
        <button
          *ngIf="searchStreet"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchStreet = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- END STREET FILTR -->
    <!-- ITEM NAME FILTR -->
    <div class="bd-highlight">
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>{{ "collections.item" | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="searchItem" />
        <button
          *ngIf="searchItem"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchItem = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- END ITEM NAME FILTR -->
    <!-- CATEGORIES CHECKBOXES -->
    <section [formGroup]="categoriesForm">
      <h5>Wybierz kategorię:</h5>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-6 g-4">
        <div
          class="col d-flex justify-content-start"
          *ngFor="let category of categories"
        >
          <p>
            <mat-checkbox formControlName="{{ category.value }}" color="primary"
              >{{ category.label }}</mat-checkbox
            >
          </p>
        </div>
      </div>
    </section>
    <!-- END CATEGORIES CHECKBOXES -->
  </div>
</mat-expansion-panel>
