<div class="content min-vw-25">
  <section class="mt-5 w-100">
    <mat-card class="">
      <div class="row d-flex justify-content-center">
        <div
          class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 p-2 d-flex justify-content-center"
        >
          <p-avatar
            icon="pi pi-user"
            styleClass="mr-2 avatar"
            size="xlarge"
          ></p-avatar>
        </div>
        <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
          <mat-card-title
            >{{ user?.firstName }} {{ user?.lastName }}</mat-card-title
          >
          <mat-card-subtitle>{{ user?.username }}</mat-card-subtitle>
          <mat-card-content>Email: {{ user?.email }}</mat-card-content>
          <mat-card-content
            >{{ "profile.phone" | translate }}
            {{ user?.phone }}</mat-card-content
          >
          <p-divider></p-divider>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button
                class="btn my-btn-primary btn-lg mt-2"
                style="padding-left: 2rem; padding-right: 2rem"
                (click)="showEditProfileDialog()"
              >
                {{ "profile.edit" | translate }}
              </button>
              <!-- EDIT PROFILE MODAL -->
              <p-dialog
                header="{{ 'profile.change_pass' | translate }}"
                [(visible)]="displayEditProfile"
                [modal]="true"
                [style]="{ width: '50vw' }"
                [draggable]="false"
                [resizable]="false"
                (onHide)="reset()"
              >
                <div class="d-flex flex-column bd-highlight mb-1">
                  <!-- OLD PASSWORD -->
                  <div class="bd-highlight">
                    <mat-form-field
                      class="form-field me-3"
                      appearance="outline"
                    >
                      <mat-label>{{
                        "profile.old_pass" | translate
                      }}</mat-label>
                      <input matInput type="text" [(ngModel)]="oldPassword" />
                    </mat-form-field>
                  </div>
                  <!-- END OLD PASSWORD -->
                  <!-- NEW PASSWORD -->
                  <div class="bd-highlight">
                    <mat-form-field
                      class="form-field me-3"
                      appearance="outline"
                    >
                      <mat-label>{{
                        "profile.new_pass" | translate
                      }}</mat-label>
                      <input matInput type="text" [(ngModel)]="newPassword" />
                    </mat-form-field>
                  </div>
                  <!-- END NEW PASSWORD -->
                  <!-- NEW PASSWORD REPEAT -->
                  <div class="bd-highlight">
                    <mat-form-field
                      class="form-field me-3"
                      appearance="outline"
                    >
                      <mat-label>{{
                        "profile.new_pass_again" | translate
                      }}</mat-label>
                      <input
                        matInput
                        type="text"
                        [(ngModel)]="newPasswordRepeat"
                      />
                    </mat-form-field>
                  </div>
                  <!-- END NEW PASSWORD REPEAT -->
                </div>
                <p-messages
                  [(value)]="errorMessages"
                  [enableService]="false"
                ></p-messages>
                <ng-template pTemplate="footer">
                  <button
                    [disabled]="isUpdateDisabled()"
                    class="btn my-btn-primary btn-lg mt-2"
                    style="padding-left: 2rem; padding-right: 2rem"
                    (click)="changePassword()"
                  >
                    {{ "profile.change_pass" | translate }}
                  </button>
                </ng-template>
              </p-dialog>
              <!-- END EDIT PROFILE MODAL -->
            </div>
            <div class="col d-flex justify-content-center">
              <button
                class="btn my-btn-danger btn-lg mt-2"
                style="padding-left: 2rem; padding-right: 2rem"
              >
                {{ "profile.delete" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- COLLECTION EXPANSION PANEL -->
    <div class="row justify-content-center mt-3">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header collapsedHeight="80px">
            <mat-panel-title
              ><i class="fa fa-comment me-3 icon-color"></i>
              {{ "profile.collections" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-profile-collections></app-profile-collections>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <!-- SUBMITTED ITEMS EXPANSION PANEL -->
    <div class="row justify-content-center mt-3 mb-5">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header collapsedHeight="80px">
            <mat-panel-title
              ><i class="fa fa-comment me-3 icon-color"></i>
              {{ "profile.items" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-profile-donates></app-profile-donates>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>
  <!-- MESSAGE -->
  <p-toast key="tl"></p-toast>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
</div>
