<div class="content">
  <section class="mt-5">
    <div class="container-fluid align-middle">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-6">
          <img
            src="assets/img/login.svg"
            class="img-fluid mb-4"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-6">
          <mat-card>
            <mat-card-title>{{ "login.login" | translate }}</mat-card-title>
            <mat-card-content
              ><form [formGroup]="form" (ngSubmit)="submit()">
                <!-- Login input -->
                <mat-icon matPrefix>person_outline</mat-icon>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>{{ "login.username" | translate }}</mat-label>
                  <input type="text" matInput formControlName="username" />
                </mat-form-field>

                <!-- Password input -->
                <mat-icon matPrefix>lock_outline</mat-icon>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>{{ "login.password" | translate }}</mat-label>
                  <input type="password" matInput formControlName="password" />
                </mat-form-field>

                <!-- Buttons -->
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button
                    type="submit"
                    class="btn my-btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem"
                  >
                    {{ "login.login" | translate }}
                  </button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">
                    {{ "login.no_account" | translate }}
                    <a routerLink="/signup" class="link-color">{{
                      "login.signup" | translate
                    }}</a>
                  </p>
                </div>
              </form></mat-card-content
            >
          </mat-card>
        </div>
      </div>
      <!-- Error message -->
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-6"></div>
        <div class="col-md-8 col-lg-6 col-xl-6">
          <p-messages
            [(value)]="errorMessage"
            [enableService]="false"
          ></p-messages>
        </div>
      </div>
    </div>
  </section>
  <!-- LOADING SPINNER -->
  <app-loading-spinner></app-loading-spinner>
</div>
