<div class="content min-vw-25">
  <section class="mt-3 w-100">
    <button
      pButton
      type="button"
      class="p-button-text mb-1 my-button"
      (click)="back()"
    >
      {{ "collection.back_button" | translate }}
    </button>
    <p-carousel
      [value]="items"
      styleClass="custom-carousel mb-1"
      [numVisible]="3"
      [numScroll]="2"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template pTemplate="header">
        <p class="fs-3 text-center mb-5">
          {{ "panel.submitted_items_heading" | translate }}
        </p>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <a (click)="chooseItem(item)">
          <!-- CARD BODY -->
          <div
            class="card-body item-card"
            [ngClass]="{ 'choosen-item': item.id === choosenItemId }"
          >
            <h5 class="card-title">{{ item.name }}</h5>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <mat-card-subtitle class="mb-1"
                    >{{
                      "category." + item.category.toLocaleLowerCase()
                        | translate
                    }}
                  </mat-card-subtitle>
                </div>
                <div class="row">
                  <mat-card-subtitle
                    >{{ "collection.type" | translate }}
                    {{
                      "item." + item.type.toLocaleLowerCase() | translate
                    }}</mat-card-subtitle
                  >
                </div>
              </div>
            </div>

            <mat-divider class="ms-4 me-4 mt-2 mb-2"></mat-divider>

            <!-- CARD CONTENT IF NOT UNLIMITED TYPE -->
            <div
              *ngIf="item.type.toString().toLocaleLowerCase() !== 'unlimited'"
            >
              <p class="card-text">
                {{ "collection.current" | translate }} {{ item.currentAmount }}
                <span *ngIf="item.type.toString() == 'AMOUNT'">{{
                  "item.suffix" | translate
                }}</span>
                <span *ngIf="item.type.toString() == 'WEIGHT'"> kg</span>
              </p>
              <p class="card-text">
                {{ "collection.max" | translate }} {{ item.maxAmount }}
                <span *ngIf="item.type.toString() == 'AMOUNT'">{{
                  "item.suffix" | translate
                }}</span>
                <span *ngIf="item.type.toString() == 'WEIGHT'"> kg</span>
              </p>

              <div class="row d-flex justify-content-center">
                <div class="col-8 pt-2 pe-0">
                  <p-progressBar
                    [value]="(item.currentAmount / item.maxAmount) * 100"
                  ></p-progressBar>
                </div>
                <div class="col-1">
                  <i
                    class="far fa-check-circle fa-lg"
                    [ngClass]="
                      item.currentAmount == item.maxAmount
                        ? 'icon-check'
                        : 'icon-disabled'
                    "
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <!-- END CARD BODY -->
        </a>
      </ng-template>
    </p-carousel>
    <!-- RETURN BUTTON -->
    <button
      class="btn my-btn-primary btn-sm mt-1 me-2 mb-3"
      style="padding-left: 2rem; padding-right: 2rem"
      (click)="showAll()"
      [hidden]="choosenItemId == '-1'"
    >
      {{ "panel.show_all" | translate }}
    </button>
    <app-collection-panel-no-submitted-items
      class="mt-4"
      *ngIf="submittedItems.length == 0"
      [message]="getMessage()"
    ></app-collection-panel-no-submitted-items>
    <!-- SUBMITTED ITEMS TABLE -->
    <div *ngIf="submittedItems.length > 0">
      <p-table
        [value]="submittedItems"
        [tableStyle]="{ 'min-width': '50rem' }"
        id="itemList"
        class="mt-5"
        [paginator]="true"
        [rows]="10"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>{{ "panel.item_name" | translate }}</th>
            <th>{{ "panel.user_name" | translate }}</th>
            <th>{{ "panel.donated_quantity" | translate }}</th>
            <th>{{ "panel.date" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
          <tr ngClass="table-white">
            <td>{{ item.itemName }}</td>
            <td>
              <div class="d-flex align-items-center">
                {{ item.username }}
                <button
                  pButton
                  type="button"
                  class="p-button-text my-button ms-2"
                  (click)="showUserDetails(item.username)"
                >
                  {{ "panel.show_user" | translate }}
                </button>
              </div>
            </td>
            <td *ngIf="item.itemType.toString() == 'UNLIMITED'">-</td>
            <td *ngIf="item.itemType.toString() != 'UNLIMITED'">
              {{ item.amount }}
              {{
                "suffix." + item.itemType.toString().toLocaleLowerCase()
                  | translate
              }}
            </td>
            <td>{{ item.submitTime | date : "dd/MM/yyyy" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>
<p-sidebar [(visible)]="display" position="right" styleClass="p-sidebar-sm">
  <h5 class="text-center mb-1">
    {{ "panel.show_user" | translate }}
  </h5>
  <p class="text-muted text-center mb-3">{{ user?.username }}</p>
  <p>{{ "panel.firstname" | translate }} {{ user?.firstName }}</p>
  <p>{{ "panel.lastname" | translate }} {{ user?.lastName }}</p>
  <p>{{ "panel.email" | translate }} {{ user?.email }}</p>
  <p>{{ "panel.phone" | translate }} {{ user?.phone }}</p>
</p-sidebar>
