<!-- SEARCH INPUT -->
<div class="row justify-content-center d-flex align-items-center">
  <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 mt-4">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{ "collection.search_item" | translate }}</mat-label>
      <input matInput [(ngModel)]="searchItem" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn my-btn-primary btn-lg"
        style="padding-left: 2rem; padding-right: 2rem"
        (click)="search()"
      >
        {{ "collections.search_button" | translate }}
      </button>
    </div>
  </div>
</div>
<div class="row justify-content-center d-flex align-items-center">
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
    <div class="d-flex justify-content-center">
      <p-selectButton
        [options]="searchTypes"
        [(ngModel)]="selectedSearchType"
        optionLabel="label"
        (onChange)="search()"
      ></p-selectButton>
    </div>
  </div>
</div>

<!-- NO ITEMS -->
<div *ngIf="items?.length == 0" class="w-100">
  <div class="d-flex flex-column bd-highlight mb-3 mt-2">
    <div class="p-2 bd-highlight d-flex justify-content-center">
      <img
        src="assets/img/no_items.svg"
        class="img-fluid mb-4 mt-3 w-50"
        alt="No items"
      />
    </div>
    <div class="p-2 bd-highlight d-flex justify-content-center">
      <p class="fs-4 text-center w-75">
        {{ "collection.no_items" | translate }}
      </p>
    </div>
  </div>
</div>
<!-- ITEM LIST -->
<div
  class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 row justify-content-center mt-3"
  id="itemList"
>
  <!-- ITEM CARD -->
  <div
    class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center"
    *ngFor="
      let item of items
        | paginate
          : {
              itemsPerPage: pageSize,
              currentPage: page + 1,
              totalItems: totalRecords
            };
      let i = index
    "
  >
    <div class="card h-100" style="width: 20rem">
      <!-- CARD BODY -->
      <div
        class="card-body"
        [ngStyle]="{ opacity: item.currentAmount == item.maxAmount ? 0.7 : 1 }"
      >
        <h5 class="card-title">{{ item.name }}</h5>
        <div class="row">
          <div class="col-9">
            <div class="row">
              <mat-card-subtitle class="mb-1"
                >{{
                  "category." + item.category.toLocaleLowerCase() | translate
                }}
              </mat-card-subtitle>
            </div>
            <div class="row">
              <mat-card-subtitle
                >{{ "collection.type" | translate }}
                {{
                  "item." + item.type.toLocaleLowerCase() | translate
                }}</mat-card-subtitle
              >
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex justify-content-center">
              <i
                *ngIf="
                  item.category.toString().toLocaleLowerCase() == 'medicine'
                "
                class="fas fa-first-aid fa-xl mt-4 category-icon"
              ></i>
              <i
                *ngIf="item.category.toString().toLocaleLowerCase() == 'food'"
                class="fas fa-utensils fa-xl mt-4 category-icon"
              ></i>
              <i
                *ngIf="
                  item.category.toString().toLocaleLowerCase() == 'clothes'
                "
                class="fas fa-tshirt fa-xl mt-4 category-icon"
              ></i>
              <i
                *ngIf="
                  item.category.toString().toLocaleLowerCase() == 'animals'
                "
                class="fas fa-paw fa-xl mt-4 category-icon"
              ></i>
              <i
                *ngIf="
                  item.category.toString().toLocaleLowerCase() == 'children'
                "
                class="fas fa-child fa-xl mt-4 category-icon"
              ></i>
              <i
                *ngIf="
                  item.category.toString().toLocaleLowerCase() == 'electronic'
                "
                class="fas fa-mobile-alt fa-xl mt-4 category-icon"
              ></i>
              <i
                *ngIf="item.category.toString().toLocaleLowerCase() == 'other'"
                class="fas fa-lightbulb fa-xl mt-4 category-icon"
              ></i>
            </div>
          </div>
        </div>

        <mat-divider class="mb-2"></mat-divider>

        <!-- CARD CONTENT IF NOT UNLIMITED TYPE -->
        <div *ngIf="item.type.toString().toLocaleLowerCase() !== 'unlimited'">
          <p class="card-text">
            {{ "collection.current" | translate }} {{ item.currentAmount }}
            <span *ngIf="item.type.toString() == 'AMOUNT'">{{
              "item.suffix" | translate
            }}</span>
            <span *ngIf="item.type.toString() == 'WEIGHT'"> kg</span>
          </p>
          <p class="card-text">
            {{ "collection.max" | translate }} {{ item.maxAmount }}
            <span *ngIf="item.type.toString() == 'AMOUNT'">{{
              "item.suffix" | translate
            }}</span>
            <span *ngIf="item.type.toString() == 'WEIGHT'"> kg</span>
          </p>

          <div class="row">
            <div class="col-10 pt-2 pe-0">
              <p-progressBar
                [value]="
                  ((item.currentAmount + item.value) / item.maxAmount) * 100
                "
              ></p-progressBar>
            </div>
            <div class="col-1">
              <i
                class="far fa-check-circle fa-lg"
                [ngClass]="
                  item.currentAmount + item.value == item.maxAmount
                    ? 'icon-check'
                    : 'icon-disabled'
                "
              ></i>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARD BODY -->
      <!-- CARD FOOTER IF ITEM COLLECTED -->
      <div class="card-footer" *ngIf="item.currentAmount == item.maxAmount">
        <h5 class="card-title text-center pb-3 pt-3 icon-color">
          {{ "collection.collected" | translate }}
        </h5>
      </div>
      <!-- CARD FOOTER IF ITEM UNLIMITED -->
      <div
        class="card-footer"
        *ngIf="item.type.toString().toLocaleLowerCase() === 'unlimited'"
      >
        <p>{{ "collection.donate" | translate }}</p>
        <div class="field-checkbox d-flex justify-content-center mb-3">
          <mat-checkbox
            class="my-checkbox"
            [(ngModel)]="item.value"
            color="primary"
            [disabled]="!isUserLoggedIn()"
          ></mat-checkbox>
        </div>
      </div>
      <!-- CARD FOOTER IF ITEM NOT UNLIMITED -->
      <div
        class="card-footer"
        *ngIf="
          item.currentAmount != item.maxAmount &&
          item.type.toString().toLocaleLowerCase() !== 'unlimited'
        "
      >
        <p [ngClass]="{ 'disabled-text': !isUserLoggedIn() }">
          {{ "collection.donate" | translate }}
        </p>
        <p-slider
          [(ngModel)]="item.value"
          [max]="item.maxAmount - item.currentAmount"
          styleClass="ms-1 me-1"
          [disabled]="!isUserLoggedIn()"
        ></p-slider>
        <div class="d-flex justify-content-center">
          <p-inputNumber
            [disabled]="!isUserLoggedIn()"
            *ngIf="item.type.toString() == 'AMOUNT'"
            [(ngModel)]="item.value"
            mode="decimal"
            [min]="item.currentAmount"
            [max]="item.maxAmount"
            class="p-inputtext-sm mt-3"
            styleClass="number-input justify-content-center"
            suffix="{{ 'item.suffix' | translate }}"
          >
          </p-inputNumber>
          <p-inputNumber
            [disabled]="!isUserLoggedIn()"
            *ngIf="item.type.toString() == 'WEIGHT'"
            [(ngModel)]="item.value"
            mode="decimal"
            [min]="item.currentAmount"
            [max]="item.maxAmount"
            class="p-inputtext-sm mt-3"
            styleClass="number-input justify-content-center"
            suffix=" kg"
          >
          </p-inputNumber>
        </div>
      </div>
    </div>
  </div>
  <!-- END CARD -->
</div>

<!-- PAGINATOR -->
<div class="mt-5 mb-1 paginator">
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    (onPageChange)="page = $event.page; scroll()"
  ></p-paginator>
</div>

<!-- CONFIRM POPUP -->
<p-confirmPopup></p-confirmPopup>

<!-- BUTTON -->
<div
  class="text-center mb-3 mt-3 d-flex align-items-center justify-content-center"
>
  <button
    (click)="clearItemsValue()"
    class="btn my-btn-secondary btn-sm reset-button me-2 mt-2"
  >
    Reset
  </button>
  <div *ngIf="isUserLoggedIn()">
    <button
      (click)="confirm($event)"
      [disabled]="isDonateButtonDisabled()"
      class="btn my-btn-primary btn-lg donate-button mt-2"
    >
      {{ "collection.donate_button" | translate }}
    </button>
  </div>
  <div *ngIf="!isUserLoggedIn()" class="ms-3">
    <button
      pButton
      type="button"
      class="p-button-text pe-2 ps-2 mt-2"
      routerLink="/login"
    >
      {{ "login.login" | translate }}
    </button>

    <p>{{ "collection.items_disabled" | translate }}</p>
  </div>
</div>
