.number-input input {
    width: 50% !important;
    flex: none
}

.p-paginator {
    background: white;
}

.p-dropdown {
    background: white;
}

.donate-button {
    padding: 1rem 2rem 1rem 2rem;
}