.number-input input {
    width: 50% !important;
    flex: none
}

:host ::ng-deep .p-paginator {
    background: white !important;
}

.p-dropdown {
    background: white;
}

.donate-button {
    padding: 1rem 2rem 1rem 2rem;
}

.reset-button {
    padding: 0.7rem 1.7rem 0.7rem 1.7rem;
}

.icon-disabled {
    color: #E9E8E7;
}

.icon-check {
    color: #4A2799
}

.category-icon {
    color: #B4B8B8;
}

.opacity-full {
    opacity: 1;
}

:host ::ng-deep .mat-checkbox-inner-container {
    height: 25px;
    width: 25px;
}

:host ::ng-deep .p-inputtext-sm .p-inputtext {
    width: 90px;
}

.disabled-text {
    color: #B4B8B8;
}