@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
  font-family:Barlow;
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body{
  font-size:16px;
  line-height:1.625;
  color:#666;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.bg-master {
  background-color: #E9E8E7!important;
}

.bg-sec {
  background-color: #454553!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a{
  color: #ff9100;
  text-decoration: none !important;
  cursor: pointer;
}

a:hover {
  color: #ff9100;
  text-decoration: none;
}

/* ========================= */
/*          XXXXXXX          */
/* ========================= */

.content {
  display: flex;
  margin: 42px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  height:85vh;
  flex-direction: column;
  align-items: center;
}

.link-color, 
.link-color:hover {
  color: #ff9100;
  text-decoration: none;
}
