<div class="d-flex justify-content-center mt-5">
  <div class="card col-lg-10 col-md-10 col-sm-12 col-12">
    <p-toolbar styleClass="mb-2 gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          type="submit"
          class="btn my-btn-primary btn-sm"
          style="padding-left: 1.5rem; padding-right: 1.5rem"
          (click)="addNewItem()"
        >
          {{ "add-collection.item.add" | translate }}
        </button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="items"
      [rows]="5"
      [paginator]="true"
      [tableStyle]="{ 'min-width': '40rem' }"
      [rowHover]="false"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">{{ "add-collection.item.manage" | translate }}</h5>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="thead-color">
          <th>{{ "add-collection.item.name" | translate }}</th>
          <th>{{ "add-collection.item.category" | translate }}</th>
          <th>{{ "add-collection.item.type" | translate }}</th>
          <th>{{ "add-collection.item.max" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.category | translate }}</td>
          <td>{{ item.type | translate }}</td>
          <td>{{ item.maxAmount }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteItem(items.indexOf(item))"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          {{
            "add-collection.item.added" | translate : { number: items.length }
          }}
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="itemDialog"
    [style]="{ width: '450px', height: '650px' }"
    header="Nowy przedmiot"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <form role="form" [formGroup]="form" class="form" #formDirective="ngForm">
        <!-- NAME -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ "add-collection.item.name" | translate }}</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error *ngIf="checkValidation('name')">
            {{ "add-collection.item.name.error" | translate }}
          </mat-error>
        </mat-form-field>

        <!-- CATEGORY -->
        <p-dropdown
          [options]="itemCategory"
          formControlName="category"
          placeholder="{{ 'add-collection.item.category.text' | translate }}"
          optionLabel="category"
          optionValue="value"
          [showClear]="true"
          styleClass="mb-4"
        ></p-dropdown>

        <!-- TYPE -->
        <h5>{{ "add-collection.item.type.text" | translate }}</h5>
        <p-selectButton
          [options]="itemTypes"
          formControlName="type"
          optionLabel="type"
          optionValue="value"
          styleClass="mb-2"
          (onChange)="changeItemType($event)"
        ></p-selectButton>

        <!-- MAX AMOUNT -->
        <p-inputNumber
          formControlName="maxAmount"
          suffix=" {{ sufix }}"
        ></p-inputNumber>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="{{ 'add-collection.cancle' | translate }}"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="{{ 'add-collection.add' | translate }}"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveItem()"
        [disabled]="form.invalid"
      ></button>
    </ng-template>
  </p-dialog>
</div>
